<%-include('./partials/header')%>
<%-include('./partials/navbar')%>
<div class="container_particular d-flex flex-column justify-content-center align-items-center p-3 ">
    <h3>NAJLEPSZE ROZWIĄZANIA DEWELOPERSKIE <span class="text-primary fs-1">&#60;/&#62;</span></h3>
    <div class="row w-100 ">
       <div class="col-lg-4 pt-3">
            <img src="/images/javascript.png" width="15%" alt="">
            <h5>JavaScript</h5>
            <p>Nasi programistki używają JavaScript do obliczania, manipulowania i zatwierdzenia różnych danych
                do tworzenia dynamicznych i interaktywnych doświadczeń użytkownika.</p>
        </div>
        <div class="col-lg-4">
            <img src="/images/html.png" alt="">
            <h5>HTML</h5>
            <p> Nasz zespół ds. Rozwoju oprogramowania ma wiele lat zbiorowego doświadczenia pracującując z HTML.
                Najlepsze w klasie niestandardowe strony internetowe i aplikacje. </p>
        </div>
        <div class="col-lg-4">
            <img src="/images/node-js.png" alt="">
            <h5>Node.js</h5>
            <p>Używamy Node.js do tworzenia tradycyjnych stron internetowych, usług API zaplecza i aplikacji czasu
                rzeczywistego intensywnie korzystających z danych, które działają na rozproszonych urządzeniach. </p>
        </div>
        <div class="col-lg-4">
            <img src="/images/expressjs.png" alt="">
            <h5>Express.js</h5>
            <p>Nasi programiści wykorzystują Express.js, aby uprościć proces tworzenia aplikacji internetowych,
                ułatwiając pisanie szybkich, bezpiecznych i modułowych aplikacji. </p>
        </div>
        <div class="col-lg-4">
            <img src="/images/mongo-db.png" alt="">
            <h5>MongoDB</h5>
            <p>Nasi programiści WWW używają MongoDB do optymalizacji wydajności sklepów transakcyjnych i do
                przechowywania dużych ilości danych. </p>
        </div>
        <div class="col-lg-4">
            <img src="/images/json.png" alt="">
            <h5>JSON</h5>
            <p>Używamy JSON do przesyłania danych aplikacji internetowych w znacznie szybszy i wydajniejszy sposób, aby zoptymalizować proces tworzenia Twojej aplikacji internetowej.</p>
        </div>
    </div>
</div>

<%-include('./partials/footer')%>